.cate-panel {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    .cate-item {
        display: flex;
        align-items: center;
        span{
            font-weight: 100;
        }
    }
    .cate-item + .cate-item {
        padding-top: 15px;
    }
}