.App {
  text-align: center;
  font-family: Roboto;
  font-size: 16;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  min-width: 90% !important;
}


.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #293199;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  z-index: 2;
}
.menu-fixed .ps-topmenu > li > .link {
  color: #fff;
}
.visible {
  opacity: 1;
}
.top-flex {
  display: flex;
  align-items: center;
}
.top-logo {
  display: flex;
  align-items: center;
  max-width: 250px;
  position: relative;
  z-index: 10;
}
.top-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.top-nav {
  text-align: right;
  flex-grow: 1;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
