.carousel-custom {
    margin-top: 4rem;
}
.carousel-item .carousel-caption {
    z-index: 1;
}

.caption {
    color : #000 !important;
    right: 55% !important;
    bottom: 50% !important;
    left: auto !important;

}

.btn{
    position: fixed;
    top: 45%;
    left: 40%;
}
.box{
    height: 413px !important;
}
.carousel-indicators > li{
   background-color:rgba(0, 0, 0, .35) !important;
}